

header {
  background: #bbb;
  padding: 20px 0;
}

.caixa {
  position: relative;
  width: 940px;
  margin: 0 auto;
}

.nav-header {
  position: absolute;
  top: 110px;
  right: 0;
}

.nav-header li {
  display: inline;
  margin: 0 0 0 15px;
}

.nav-header a {
  text-transform: uppercase;
  color: #000;
  font-weight: bold;
  font-size: 22px;
  text-decoration: none;
}

.nav-header a:hover{
  color: #C78C19;
  text-decoration: underline;
}


#banner {
  width: 90%;
  padding: 3%;
}

.principal{
  background: #cccccc;
  padding: 30px;
}

p {
  color: #705454;
}

#missao {
  font-size: 20px;
}

em > strong {
  color: coral;
}

.beneficios{
  background: #fff;
  padding: 20px;
}

h2{
  text-align: center;
}

.beneficios ul{
  /* um elemento inline e precisar alterar a largura ou altura dele,  dai usamos o inline-block */
  display: inline-block; 
  
  vertical-align: top;
  width: 20%;
  margin-right: 15%;
}

.itens{
  font-style: italic;
}

.imagem-beneficios{
  width: 50%;
}