* {
    font-family:cursive;
}

body {
    background-color: grey;
    color: cyan;
}

.container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-direction: column;
}

article, header , div{
    margin: 10px 10px 10px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}