@charset "UTF-8";

form{
    /*centralizar formulário*/
    margin: auto;
    width: 400px;
    /*ver as bordas*/
    padding: 1em;
    border: black 1px solid;
    border-radius: 1em;
}

form div + div{
    margin-top: 1em;
}

label{
    /*alinhar as labels. eajustar o tamanho*/
    display: inline-block;
    width: 90px;
    text-align: right;
}


textarea{
    /*alinhar corretamente os campos de várias linhas com sua label*/
    vertical-align: text-top;

    /*espaço sufuciente para digitar algum texto*/
    height: 5em;

    /*permitir que o usuário redimencione a text area verticalmente*/
    resize: vertical;
    max-height: 300px;
}

.button{     
    /*reposicionar os botões para a mesma direção dos campos de texto*/       
    padding-left: 90px;
}

button{
    /*margem extra paea representar o mesmo espaço entre os lables e os campos de textos*/
    margin-left: .3em;
}

input:invalid, textarea:invalid{
    /*subclasse para invalidade*/
    border-color: red;
}

input:valid, textarea:valid{
    border-color: rgb(157, 255, 0);
}

input:focus, textarea:focus{
    /*faz com que essa configaração sobreponha as outras
 border-color: blueviolet !important;
   /*mesma fonte a todos os campos de texto*/
   font: 1em sans-serif;

   /*dar o mesmo tamanho a todos os campos de texto*/
   width: 300px;
   box-sizing: border-box;
   -moz-box-sizing: border-box;

   /*cor da borda*/
   border: 1px solid;
   /*dar um destaque aos elementos ativos*/
}