<div class="card w-100 my-5">
    <div class="card-body">
        <h1 class="card-title text-center">
            Formulário de Usuários
        </h1>
        <form [formGroup]="userForm">
            <div class="row my-4">
                <div class="col-6">
                    <div class="form-floating">
                        <input formControlName="nome" type="text" class="form-control" id="nome" placeholder="Digite o seu nome...">
                        <label for="Nome">Nome</label>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-floating">
                        <input formControlName="sobrenome" type="text" class="form-control" id="Sobrenome" placeholder="Digite o seu sobrenome...">
                        <label for="Sobrenome">Sobrenome</label>
                    </div>
                </div>
                
            </div>

            <div class="row my-4">
                <div class="col-6">
                    <div class="form-floating">
                        <input formControlName="idade" type="number" class="form-control" id="idade" placeholder="Digite a sua idade..">
                        <label for="idade">Idade</label>
                    </div>
                </div>
                
                <div class="col-6"> 
                    <div class="form-floating">
                        <input formControlName="profissao" type="text" class="form-control" id="Profissão" placeholder="Digite a sua profissão...">
                        <label for="Profissão">Profissão</label>
                    </div>
                </div>
            </div>

            <div class="row my-4">
                <div class="form-group col-12 mt-4">
                    <button routerLink="/" class="btn btn-outline-danger float-start">Cancelar</button>
                    <button (click)="actionButton()" type="button" class="btn btn-outline-success float-end">Enviar</button>
                </div>
            </div>
            
        </form>
    </div>
</div>