@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
body{
  font-family: 'Montserrat', sans-serif;
}
header {
  background: #bbb;
  padding: 20px 0;
}

.caixa {
  position: relative;
  width: 940px;
  margin: 0 auto;
}

nav {
  position: absolute;
  top: 110px;
  right: 0;
}

nav li {
  display: inline;
  margin: 0 0 0 15px;
}

nav a {
  text-transform: uppercase;
  color: #000;
  font-weight: bold;
  font-size: 22px;
  text-decoration: none;
}

nav a:hover {
  color: #c78c19;
  text-decoration: underline;
}

.produtos {
  width: 940;
  margin: 0 auto;
  padding: 50px;
}
.produtos > li {
  display: inline-block;
  text-align: center;
  width: 30%;
  vertical-align: top;
  margin: 0 1.5%;
  padding: 30px 20px;
  box-sizing: border-box;
  border: solid 2px #000;
  border-radius: 10px;
}

.produtos li:hover {
  border-color: #c78c19;
}

.produtos li:active {
  border-color: #088c19;
}

.produtos li:hover h2 {
  font-size: 34px;
}

.produtos h2 {
  font-size: 30px;
  font-weight: bold;
}

.produtos img {
  width: 100%;
}

.produto-descricao {
  font-size: 18px;
}

.produto-preco {
  font-size: 22px;
  font-weight: bold;
  margin: 10px 0 0;
}

footer {
  text-align: center;
  background: url(bg.jpg);
  padding: 40 0;
}

.copyrigth {
  color: #ffffff;
  padding: 20px 0;
}

main {

}

form {
  margin: 40px 0;
}

form label,
form legend {
  display: block;
  font-size: 20px;
  margin: 0 0 10px;
}

.input-padrao {
  display: block;
  margin: 0 0 20px;
  padding: 10px 25px;
  width: 50%;
}

.checkbox {
  margin: 20px 0;
}

.enviar {
  width: 40%;
  padding: 15px 0;
  background: rgb(67, 55, 41);
  color: #ffffff;
  font-weight: bold;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  transition:all 1s;
  cursor: pointer;
}

.enviar:hover {
  background: darkorange;
  border-radius: 10px;
  transform: scale(1.2);
}

.horario-atendimento{
  margin: 20px 40px;
}
.horario-atendimento thead{
  background: #555555;
  color: #fff;
  font-weight: bold;
}

.horario-atendimento td, .horario-atendimento th{
  border: 1px solid #000000;
  padding: 15px 8px;
}

.banner{
  width: 100%;
}

.titulo-principal{
  text-align: center;
  font-size: 2em;
  margin: 0 0 1em;
  clear: left;
  color: rgb(0, 0, 0, 3);
  transition: text-shadow 0.4s;
}

.titulo-principal:hover{
  text-shadow:  2px 2px 5px #5d5b5b;

}

.principal{
  padding: 3em 0;
  background: #fefefe;
  width: 940px;
  margin: auto;
}

.principal p{
  margin: 0 0 1em;
}

.principal strong{
  font-weight: bold;
}

.principal em{
  font-style: italic;
}

.utensilios-img{
  width: 120px;
  float: left;
  margin: 0 20px 20px 0;
}

.mapa{
  padding: 3em 0;
  background: linear-gradient(#fefefe, #888888);
}

.mapa-conteudo{
  width: 940px;
  margin: 0 auto;
  box-shadow: 10px 10px 30px #555555;
}

.mapa p{
  margin: 0 0 2em;
  text-align: center;
}


/* .beneficios ul{
  vertical-align: top;
  display: inline-block;
  list-style: disc;
  margin: 0 2em 0 0
}

.beneficios li{
  list-style: cjk-ideographic;
  margin: 0 0 1em;
} */

.beneficios{
  padding: 3em 0;
  background: #888888

}

.conteudo-beneficios{
  width: 640px;
  margin: 0 auto;
}

.lista-beneficios{
  width: 40%;
  display: inline-block !important;
  vertical-align: top;
}

.itens{
  line-height: 1.5;
}

.itens::before{
  content: "☆";
}

.itens:nth-child(1){
  font-weight: bold;
}

.imagem-beneficios{
  display: inline-block;
  width: 60%;
  opacity: 100%;
  transition: 0.4s;
  box-shadow: 25px 15px 1em #555555;
}

.imagem-beneficios:hover{
  opacity: 70%;
  box-shadow: -15px 25px 1em 10px #555555;
}
.video{
  width: 560px;
  margin: 2em auto;
}

@media screen and (max-width:480px){
  .caixa, .principal, .conteudo-beneficios, .mapa-conteudo, .video{
    width: auto;
  }


  h1{
    text-align: center;
  }

  nav{
    position: static;
  }

  .imagem-beneficios, .lista-beneficios -beneficios{
    width: 100%
  }
}